pre {color:#E0E0E0;}
a, a:visited, a:active, a:hover, a:link {
	color:#6699ff;
	text-decoration: none;
}
a.button {
    background-color: #010224;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px;
    text-align: center;
}
a.button:hover {
    background-color: #2a0847;
}
body {
    background-image: url('background.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Calibri, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center ;
}
.win {
    color: black;
    border: none;
    border-radius: 25px;
    background-color: white;
    text-align: center;
    inline-size: 160px;
    overflow-wrap: break-word;
    margin-left: 550px;
    width: 33%;
    padding: 10px;
    position: fixed;
    left: 5%;
    top: 10%;
    box-shadow: 10px 10px 5px #2e2e2e;
}
