* {
    box-sizing: border-box;
}
pre {
    font: 16px Manrope;
    width: 100%;
    height: 100%;
}
a, a:visited, a:active, a:hover, a:link {
	color:#6699ff;
	text-decoration: none;
}
a.button {
    background-color: #010224;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px;
    text-align: center;
}
a.button:hover {
    background-color: #2a0847;
}
body {
    background-image: url('background.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.win {
    border: none;
    border-radius: 25px;
    background-color: white;
    min-width: 375px;
    max-width: 1250px;
    width: fit-content;
    box-shadow: 10px 10px 5px #2e2e2e;
    margin-top: 10px;
}
.content {
    color: black;
    font: 16px Manrope;
    border: none;
    text-align: center;
    white-space: pre-wrap;
    overflow-wrap: break-before;
    min-width: 375px;
    max-width: 1250px;
    width: clamp(375px, 100%, 1250px);
    padding: 10px;
}
